body{
    padding: 2rem;
    font-family: sans-serif;
    background-color: rgb(55, 61, 67);
    color: seashell;

}

option:hover{
    background-color: hsl(210, 10%, 64%);
}

option:checked{
    font-weight: bold;
}

.success{
    color: MediumAquamarine;
}

.error{
    color: chocolate;
}

select{
    font-size: 1rem;
    width: 100%;
    background-color: hsl(210, 10%, 34%);
    color: seashell;
}
